.rulesContainer {
  width: 70%;
  margin: auto;
  padding: 10px;
  text-align: center;

  h1 {
    padding-top: 100px;
    margin-bottom: 10px;
    font-size: 40 px;
    text-align: center;
  }

  .textRules {
    margin: 20px;
    padding: 20px;
  }
  .btnRules {
    position: relative;
    margin-top: 30px;
  }
}
